# Django Core
Django==5.2
djangorestframework==3.16.0
django-cors-headers==4.7.0
django-filter==25.1
django-allauth==65.7.0
dj-rest-auth==7.0.1

# HTTP & Auth
requests==2.32.3
PyJWT==2.10.1
cryptography==44.0.2

# WSGI Server & Env
gunicorn==21.2.0
python-dotenv==1.0.1

# Storage and Media
django-storages==1.14.2
pillow==10.2.0

# Dependencies for cryptography
cffi==1.17.1
pycparser==2.22

# Django dependencies
asgiref==3.8.1
sqlparse==0.5.3

# Requests dependencies
idna==3.10
charset-normalizer==3.4.1
certifi==2025.1.31
urllib3==2.4.0

openai==1.30.1   